@import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@theme {
    --color-brand-background: #f7eede;
    --color-brand-tan: #e4c789;
    --color-brand-sage: #a3bd96;
    --color-brand-forest: #5b8355;
    --color-brand-brown: #907248;
    --color-brand-button: #907248;
    --color-brand-button-hover: #7d6340;
    --color-brand-text: #5a4633;
    --color-brand-heading: #5a4633;

    --font-sans: "Inter", ui-sans-serif, system-ui;
    --font-serif: "Domine", ui-serif, Georgia;
}